* {
    color: aliceblue;
}



.rentedMovie-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "hd hd hd hd" "rf rf rf rf ";
}
.renteds-container{
    display: flex;
    column-gap: 15px
}

.rentedMovie {
    grid-area: rf;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.rentedTitle {
    grid-area: hd;
}

.catalogMovies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "head head head head"
    "f f f f ";
}

.btnsearch{
    cursor: pointer;
}

#catalog-container{
    display: flex;
    column-gap: 15px
}

.catalogTitle {
    color: aliceblue;
    grid-area: head;

}

.film {
    grid-area: f;
    border: 1px solid rgba(0, 0, 0, 0.8);
    align-content: center;
    text-align: center;
    color: aliceblue;

}

.filmImg {
    width: 200px;
    height: 200px;
}

.budgetTitle{
    position:absolute;
    margin: 10px;
    top: 30px;
    right: 0px;
    color: whitesmoke
}